/target/
/vcpkg_installed/
/.vscode/compile_commands.json
/compile_commands.json
/.cache/
/build/
/.idea/
.DS_Store

data
output/target/
.runtime/
samples/
examples/preview/tiles/
*.zip
examples/preview/tiles_rebuild/
.venv/
